@import './fonts.scss';
@import './normalize.scss';
@import './variables.scss';

body, html {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
	background: $dark-grey;
}

section {
	min-height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

h1 {
	font-family: "Orbitron";
	color: white;
	margin: 0;
}